<section class="party">

	<div class="party_header">
		<img class="party_header_img" [src]="party.author.image" alt="Imagen de un party">
		<a class="party_header_name" [href]="party.author.url" target="_b">by {{party.author.fullName}}</a>
		<div class="party_header_date">Published on {{party.timestamp}}</div>
	</div>

	<div class="party_content">
		{{party.content}}
	</div>

	<hr class="party_line">

	<div class="party_fav">
		<a class="fav_icon fav_icon-selected" href="#">&#10084;</a>
	</div>

</section>
